{% extends 'base.html' %}
{% block conteudo %}
{% load static %}
{% include 'navbar.html' %}
<div class="d-flex flex-column w-100 flex-grow-1 px-4">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="easel-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h1.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11H7.5v2.5a.5.5 0 0 0 1 0V11h2.592l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11H14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H9.046z"/>
        </symbol>
        <symbol id="eye-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
        </symbol>
    </svg>
    <a target="_blank" href="https://www.arduino.cc"><img width="78" height="54" class="d-block mb-2" src="{% static 'imagens/arduino.svg' %}"></a>
    <p class="fs-2 fw-semibold lh-sm mb-2">Construindo uma mini estação meteorológica com Arduino</p>
    <p><small><span class="text-nowrap me-2"><i class="bi bi-calendar pe-1"></i>08/07/2024</span><span class="text-nowrap me-2"><i class="bi bi-person-fill pe-1"></i>Kelson Pereira</span><span class="text-nowrap me-2"><a target="_blank" href="https://www.youtube.com/watch?v=ryFdngPUVmE"><i class="bi bi-youtube pe-1"></i>Projeto Didático</a></span></small></p>
    <p>Este projeto didático tem como objetivo guiar alunos em sala de aula ou em laboratório na construção de uma mini estação meteorológica utilizando a plataforma de prototipagem de código aberto Arduino. Este dispositivo será capaz de medir parâmetros atmosféricos essenciais, como temperatura, umidade e pressão.</p>
    <div class="card shadow border-0 rounded p-0 align-self-center mb-4" style="max-width:100%; width: 60rem; height:auto">
        <a href="{% url 'imagem' 'mini-estacao-meteorologica.jpg' %}"><img class="card-img-top px-3 pt-3" style="object-fit: contain;" src="{% static 'imagens/mini-estacao-meteorologica.jpg' %}"></a>
        <div class="card-body">
            <p class="card-text fs-6 lh-sm text-center"><small>Figura 1: <strong>Demonstração da mini estação meteorológica com Arduino</strong><br><small>Fonte: Foto de autoria própria</small></small></p>
        </div>
    </div>
    <p>Ao longo deste projeto, as seguintes habilidades serão desenvolvidas:</p>
    <ul>
        <li>Montagem de circuitos eletrônicos.</li>
        <li>Programação básica em Arduino (linguagem C/C++).</li>
        <li>Análise e interpretação de dados meteorológicos.</li>
        <li>Trabalho em equipe e resolução de problemas práticos.</li>
    </ul>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">1. Materiais utilizados</p>
    <p>A mini estação meteorológica é composta por sensores que capturam dados ambientais e por um microcontrolador Arduino Uno que processa essas informações. Utilizaremos o sensor DHT22 para medir temperatura e umidade, e o sensor BMP280 para medir a pressão atmosférica. Além disso, o projeto inclui a programação do Arduino por meio da linguagem C/C++ para ler os dados dos sensores e transferir para um servidor através do módulo Wi-Fi ESP8266 (ESP-01).</p>
    <div class="d-flex flex-wrap justify-content-center align-content-start flex-grow-1 gap-4 mb-4">
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'arduino-uno-r3.png' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/arduino-uno-r3.png' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Microcontrolador Arduino Uno<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/placa-arduino/placa-uno-r3">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'dht22.png' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/dht22.png' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Sensor DHT22 (AM2302)<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/sensor-ambiente/sensor-de-temperatura-e-umidade-dht22">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'bmp280.png' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/bmp280.png' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Sensor BMP280<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/sensor-ambiente/sensor-de-pressao-e-temperatura-bmp280">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'esp8266.png' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/esp8266.png' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Módulo Wi-Fi ESP8266 (ESP-01)<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/wifi/modulo-wifi-esp8266">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'protoboard.jpg' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/protoboard.jpg' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Protoboard para Arduino Uno<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/shields-arduino/arduino-shield-protoshield">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'leds.jpg' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/leds.jpg' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>LEDs difuso 5mm (vermelho e verde)<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/display-led/led-difuso-5mm-vermelho-10-unidades">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'resistores.jpg' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/resistores.jpg' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Resistores 1/4W (2x220Ω e 1x4.7KΩ)<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/resistor-potenciometro/kit-resistor">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'jumpers.png' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/jumpers.png' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Fios para conexões (jumpers)<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/cabo/jumpers-macho-femea-x40-unidades">robocore.net</a></small></small></p>
            </div>
        </div>
        <div class="card shadow border-0 rounded p-0" style="width: 18rem; height:16rem;">
            <a href="{% url 'imagem' 'cabo-usb-a-b.png' %}"><img class="card-img-top px-2 pt-3" style="height:12rem; object-fit: contain;" src="{% static 'imagens/cabo-usb-a-b.png' %}"></a>
            <div class="card-body">
                <p class="card-text fs-6 lh-1 text-center"><small>Cabo USB tipo AB (Arduino)<br><small>Fonte: <a target="_blank" href="https://www.robocore.net/cabo/cabo-usb-ab-30cm">robocore.net</a></small></small></p>
            </div>
        </div>
    </div>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        Através deste projeto, os alunos terão a oportunidade de explorar conceitos fundamentais de física, eletrônica, programação e ciências de maneira prática e interativa. A construção da estação meteorológica não só proporcionará uma compreensão mais profunda sobre como os sensores funcionam, mas também permitirá que os alunos compreendam melhor os fenômenos meteorológicos e suas influências no nosso dia a dia.
    </div>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">2. Conhecendo o Arduino</p>
    <p>O Arduino é uma plataforma de prototipagem eletrônica de código aberto que combina hardware e software para criar projetos interativos. Consiste em placas com microcontroladores que pode ser programado usando a linguagem de programação baseada em C/C++ através do um Ambiente de Desenvolvimento Integrado (IDE).</p>
    <p>Com custo acessível, o Arduino é amplamente utilizado na educação, permitindo que pessoas de todos os níveis de conhecimento criem dispositivos que interagem com o ambiente através de sensores e atuadores como sistemas de automação residencial, sistemas de irrigação automática, sistemas de alarmes, dentre outros.</p>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        <span>Envolva os alunos para explorar outros projetos possíveis usando esta plataforma e então, apresente os recursos do Arduino Uno sendo seus principais componentes, conectores, portas, alimentação, LEDs, etc.</span>
    </div>
    <div class="card shadow border-0 rounded p-0 align-self-center mb-4" style="max-width:100%; width: 60rem; height:auto">
        <a href="{% url 'imagem' 'arduino-uno_bb.png' %}"><img class="card-img-top px-3 pt-3" style="object-fit: contain;" src="{% static 'imagens/arduino-uno_bb.png' %}"></a>
        <div class="card-body">
            <p class="card-text fs-6 lh-1 text-center"><small>Figura 2: <strong>Conhecendo o Arduino Uno</strong><br><small>Fonte: Imagem gerada a partir do simulador Fritzing</small></small></p>
        </div>
    </div>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">3. Monitorando parâmetros atmosféricos</p>
    <p>Conhecer os parâmetros atmosféricos traz diversos benefícios como prever o tempo, aumentar a produtividade na agricultura, garantir a segurança das operações aéreas e marítimas, desenvolver pesquisas científicas como no estudo das mudanças climáticas, e muito mais.</p>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        <span>Convide os alunos a dar exemplos da importância de conhecer parâmetros como temperatura e umidade no seu dia a dia.</span>
    </div>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">4. Montando o sensor DHT22</p>
    <p>O sensor DHT22, também conhecido como sensor AM2302, é um sensor que faz a medição da temperatura e da umidade com alta precisão, sendo que é permitido fazer leituras de temperaturas entre -40º a 80º Celsius e umidade entre 0 a 100%. <small>Fonte: MakerHero (<a target="_blank" href="https://www.makerhero.com/produto/sensor-de-umidade-e-temperatura-am2302-dht22/">makerhero.com</a>).</small></p>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        <span>Conduza os alunos para realizar a montagem do sensor conforme o esquema acima. Use a protoboard para facilitar a conexão entre o sensor, o resistor e as portas do Arduino através dos fios de conexão.</span>
    </div>
    <div class="card shadow border-0 rounded p-0 align-self-center mb-4" style="max-width:100%; width: 60rem; height:auto">
        <a href="{% url 'imagem' 'arduino-dht22_bb.png' %}"><img class="card-img-top px-3 pt-3" style="object-fit: contain;" src="{% static 'imagens/arduino-dht22_bb.png' %}"></a>
        <div class="card-body">
            <p class="card-text fs-6 lh-1 text-center"><small>Figura 3: <strong>Montagem do sensor DHT22 com Arduino Uno</strong><br><small>Fonte: Imagem gerada a partir do simulador Fritzing</small></small></p>
        </div>
    </div>
    <div class="border-start border-4 border-warning rounded-1 bg-white p-3 mb-4">
        <span>Observe a alimentação do sensor DHT22 no pino <kbd>VCC</kbd> com <kbd>5V</kbd> e do resistor <kbd>R1</kbd> de <kbd>4.7kΩ</kbd> em conjunto com pino <kbd>DATA</kbd> conectando ao Arduino na porta digital <kbd>2</kbd>.</span>
    </div>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">5. Montando o sensor BPM280</p>
    <p>O sensor BMP280 tem como objetivo principal medir a pressão atmosférica, determinando com precisão a altitude de um ambiente, além de ser capaz de medir a temperatura. A leituras de pressões são de 300 à 1100 hPa e temperatura entre 0°C à 65°C. <small>Fonte: MakerHero (<a target="_blank" href="https://www.makerhero.com/produto/sensor-de-pressao-e-temperatura-bmp280/">makerhero.com</a>).</small></p>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        <span>Conduza os alunos para realizar a montagem do sensor conforme o esquema abaixo. Use a protoboard para facilitar a conexão entre o sensor e as portas do Arduino através dos fios de conexão.</span>
    </div>
    <div class="card shadow border-0 rounded p-0 align-self-center mb-4" style="max-width:100%; width: 60rem; height:auto">
        <a href="{% url 'imagem' 'arduino-bmp280_bb.png' %}"><img class="card-img-top px-3 pt-3" style="object-fit: contain;" src="{% static 'imagens/arduino-bmp280_bb.png' %}"></a>
        <div class="card-body">
            <p class="card-text fs-6 lh-1 text-center"><small>Figura 4: <strong>Montagem do sensor BMP280 com Arduino Uno</strong><br><small>Fonte: Imagem gerada a partir do simulador Fritzing</small></small></p>
        </div>
    </div>
    <div class="border-start border-4 border-warning rounded-1 bg-white p-3 mb-4">
        <span>Observe a alimentação do sensor BMP280 nos pinos <kbd>VCC</kbd> e <kbd>SDD</kbd> com <kbd>3.3V</kbd> e na conexão dos pinos <kbd>SCL</kbd> e <kbd>SDA</kbd> conectando ao Arduino nas porta analógicas <kbd>A5</kbd> e <kbd>A4</kbd> respectivamente.</span>
    </div>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">6. Montando o módulo ESP8266 (ESP-01)</p>
    <p>O módulo WiFi ESP8266 (ESP-01) é um módulo cujo a função é conectar projetos e sistemas na internet através da rede Wirelles, para que o projeto possa ser acessado, controlado e também adquirir informações de forma remota através do chip ESP8266. <small>Fonte: MakerHero (<a target="_blank" href="https://www.makerhero.com/produto/modulo-wifi-esp8266-esp-01/">makerhero.com</a>).</small></p>
    <p>O ESP8266 (ESP-01) trabalha com as redes mais utilizadas atualmente (802.11 b/g/n), preparado para comunicação sem fio de baixa potência, operando com a rede Wi-Fi em frequência de 2.4GHz, possuindo suporte a WPA e WPA2.</p>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        <span>Conduza os alunos para realizar montagem a do módulo conforme o esquema acima. Use a protoboard para facilitar a conexão entre o módulo e as portas do Arduino através dos fios de conexão.</span>
    </div>
    <div class="card shadow border-0 rounded p-0 align-self-center mb-4" style="max-width:100%; width: 60rem; height:auto">
        <a href="{% url 'imagem' 'arduino-esp8266_bb.png' %}"><img class="card-img-top px-3 pt-3" style="object-fit: contain;" src="{% static 'imagens/arduino-esp8266_bb.png' %}"></a>
        <div class="card-body">
            <p class="card-text fs-6 lh-1 text-center"><small>Figura 5: <strong>Montagem do módulo ESP8266 (ESP-01) com Arduino Uno</strong><br><small>Fonte: Imagem gerada a partir do simulador Fritzing</small></small></p>
        </div>
    </div>
    <div class="border-start border-4 border-warning rounded-1 bg-white p-3 mb-4">
        <span>Observe a alimentação do módulo ESP8266 (ESP-01) nos pinos <kbd>VCC</kbd> e <kbd>CH_PD</kbd> com <kbd>3.3V</kbd> e a conexão dos pinos <kbd>TX</kbd> e <kbd>RX</kbd> conectando ao Arduino nas porta digitais <kbd>6</kbd> e <kbd>7</kbd> respectivamente.</span>
    </div>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">7. Montando os LEDs</p>
    <p>O LED é um diodo emissor de luz que quando percorridos por uma corrente elétrica são capazes de emitir luz. Possui dois terminais polarizados chamados de anodo (positivo) e catodo (negativo), ou seja, a forma a qual está polarizado determina a passagem ou não de corrente elétrica, emitindo ou não luz. <small>Fonte: MakerHero (<a target="_blank" href="https://www.makerhero.com/produto/led-difuso-5mm-vermelho/">makerhero.com</a>).</small></p>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        <span>Conduza os alunos para realizar montagem a do módulo conforme o esquema acima. Use a protoboard para facilitar a conexão entre o módulo e as portas do Arduino através dos fios de conexão.</span>
    </div>
    <div class="card shadow border-0 rounded p-0 align-self-center mb-4" style="max-width:100%; width: 60rem; height:auto">
        <a href="{% url 'imagem' 'arduino-estacao_bb.png' %}"><img class="card-img-top px-3 pt-3" style="object-fit: contain;" src="{% static 'imagens/arduino-estacao_bb.png' %}"></a>
        <div class="card-body">
            <p class="card-text fs-6 lh-1 text-center"><small>Figura 6: <strong>Montagem final da mini estação meteorológica com Arduino Uno</strong><br><small>Fonte: Imagem gerada a partir do simulador Fritzing</small></small></p>
        </div>
    </div>
    <div class="border-start border-4 border-warning rounded-1 bg-white p-3 mb-4">
        <span>Observe a alimentação dos LEDSs vermelho e verde nos terminais curtos em <kbd>GND</kbd> e dos terminais longos passando pelos resistors <kbd>R2</kbd> e <kbd>R3</kbd> de <kbd>220Ω</kbd> conectando ao Arduino nas portas digitais <kbd>4</kbd> e <kbd>5</kbd> respectivamente.</span>
    </div>
    <p class="fs-4 fw-semibold lh-sm mt-4 mb-3">8. Programando o Arduino</p>
    <p>Para carregar o código no Arduino instale no computador o Arduino IDE (<a target="_blank" href="https://support.arduino.cc/hc/en-us/articles/360019833020-Download-and-install-Arduino-IDE">support.arduino.cc</a>) e então configure a placa e a porta de comunicação. Após isto copie o código abaixo e faça o upload para o Arduino e voce terá uma mini estação meteorológica feita com Arduino!</p>
    
    <pre class="d-flex border-start border-4 border-info rounded-1 shadow border-0 p-0 align-self-center mb-4" style="max-width:100%; width: 60rem; height:auto; white-space: pre-wrap;">
        <code class="w-100 language-c">#include &lt;Wire.h&gt;
#include &lt;DHT.h&gt;
#include &lt;Adafruit_Sensor.h&gt;
#include &lt;Adafruit_BMP280.h&gt;
#include &lt;SoftwareSerial.h&gt;

#define DHT_PINO 2
#define DHT_TIPO DHT22
#define RX 7
#define TX 6

SoftwareSerial AT(RX, TX);
DHT dht(DHT_PINO, DHT_TIPO);
Adafruit_BMP280 bmp;

int LED_VM = 8;
int LED_VD = 9;

// Defina aqui informações do WiFi e da estação
String WIFI = "xxxxxxxxxx";
String SENHA = "xxxxxxxxxx";
String ESTACAO = "LAB-XXXX";
String CEP = "xxxxxxxx";

int contador;
boolean sucesso = false;
boolean debugar = false;
const unsigned int intervalo = 30000;
String servidor = "labclima-cdf9226ee1c5.herokuapp.com";
String porta = "80";

void setup() {
    Serial.begin(9600);
    AT.begin(9600);
    Serial.print("Iniciando ESP8266... ");
    enviarComando("AT", 5, "OK");
    Serial.print("Definindo WiFi... ");
    enviarComando("AT+CWMODE=1", 5, "OK");
    Serial.print("Conectando WiFi... ");
    enviarComando("AT+CWJAP=\""+ WIFI +"\",\""+ SENHA +"\"", 10, "OK");
    Serial.print("Definindo relogio... ");
    enviarComando("AT+CIPSNTPCFG=1,-3,\"a.ntp.br\",\"b.ntp.br\",\"c.ntp.br\"", 5, "OK");
    Serial.print("Definindo conexao... ");
    enviarComando("AT+CIPMUX=0", 10, "OK");
    pinMode(LED_VM, OUTPUT);
    pinMode(LED_VD, OUTPUT);
    dht.begin();
    delay(2000);
}

void loop() {
    bool enviar = true;
    Serial.print("Lendo DHT22... ");
    float u = dht.readHumidity();
    float t = dht.readTemperature();
    if (isnan(u) || isnan(t)) {
        digitalWrite(LED_VM, HIGH);
        Serial.println("Falhou");
        enviar = false;
        delay(2000);
    } else {
        digitalWrite(LED_VD, HIGH);
        Serial.println("OK");
        Serial.print("Temperatura: ");
        Serial.print(t);
        Serial.println("°C");
        Serial.print("Umidade: ");
        Serial.print(u);
        Serial.println("%");
    }
    Serial.print("Iniciando BMP280... ");
    if (!bmp.begin()) {
        digitalWrite(LED_VM, HIGH);
        Serial.println("Falhou");
        enviar = false;
        delay(2000);
    } else {
        digitalWrite(LED_VD, HIGH);
        Serial.println("OK");
    }
    float t2 = bmp.readTemperature();
    float p = bmp.readPressure() / 100;
    Serial.print("Lendo BMP280... ");
    if (isnan(t2) || isnan(p)) {
        digitalWrite(LED_VM, HIGH);
        Serial.println("Falhou");
        enviar = false;
        delay(2000);
    } else {
        digitalWrite(LED_VD, HIGH);
        Serial.println("OK");
        Serial.print("Temperatura: ");
        Serial.print(t2);
        Serial.println("°C");
        Serial.print("Pressao: ");
        Serial.print(p);
        Serial.println("hPa");
    }
    if (enviar) {
        enviarDados(t, u, p);
    }
    digitalWrite(LED_VM, LOW);
    digitalWrite(LED_VD, LOW);
}

void enviarComando(String comando, int contador_maximo, char resposta[]) {
    if (debugar == true) {Serial.print(comando + " ");}
    while (contador &lt; (contador_maximo)) {
        AT.println(comando);
        if (AT.find(resposta)) {
            sucesso = true;
            break;
        }
        contador++;
    }
    if (sucesso == true) {
        digitalWrite(LED_VM, LOW);
        digitalWrite(LED_VD, HIGH);
        Serial.println("OK");
        contador = 0;
    }
    if (sucesso == false) {
        digitalWrite(LED_VD, LOW);
        digitalWrite(LED_VM, HIGH);
        Serial.println("Falhou");
        contador = 0;
    }
    sucesso = false;
}

void enviarDados(float t, float u, float p) {
    String url = "GET /registrar/?nome=";
    url += ESTACAO;
    url += "&cep=";
    url += CEP;
    url += "&t=";
    url += t;
    url += "&u=";
    url += u;
    url += "&p=";
    url += p;
    url += "&lab=clima HTTP/1.1\r\n";
    url += "User-Agent: Arduino/1.0\r\n";
    url += "Host: ";
    url += servidor;
    url += "\r\n";
    url += "Accept: */*\r\n\r\n";

    Serial.print("Abrindo conexao... ");
    enviarComando("AT+CIPSTART=\"TCP\",\"" + servidor + "\"," + porta, 30, "OK");
    Serial.print("Iniciando envio... ");
    enviarComando("AT+CIPSEND=" + String(url.length()), 5, ">");
    if (debugar == true) {Serial.print(url);}
    Serial.print("Enviando dados... ");
    enviarComando(url, 10, "SEND OK");
    Serial.print("Fechando conexao... ");
    enviarComando("AT+CIPCLOSE", 5, "CLOSED");
    digitalWrite(LED_VD, LOW);
    digitalWrite(LED_VM, LOW);
    Serial.print("Aguardando " + String(intervalo/1000) + "s... ");
    delay(intervalo);
    Serial.println("OK");
}</code>
    </pre>
    <div class="alert alert-warning d-flex align-items-start" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#easel-fill"/></svg>
        <span>Para concluir este projeto didático, destaque com os alunos a importância da tecnologia e da inovação no estudo da física. Ao integrarmos conceitos de programação, eletrônica e ciências, proporcionamos uma experiência de aprendizagem prática e envolvente.</span>
    </div>
    <div class="border-start border-4 border-warning rounded-1 bg-white p-3 ">
        <span>Que esta jornada inspire futuras explorações e resulte em contribuições significativas!</span>
    </div>
</div>
{% endblock %}